# python
__pycache__/
*.pyc

# datasets / raw data (too large)
data/
datasets/
*.npy

# model artifacts (tuỳ bạn giữ hay không)
# nếu model nhỏ và muốn push thì comment 2 dòng dưới
# artifacts/
# *.pt
# *.pkl

# node
frontend/node_modules/
frontend/dist/
